<!DOCTYPE html>
<html>
  <head>
    <title>Outlast Enterprise</title>
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
  </head>
  <style>
  body {
    background-color: white;
  }
  .title {
    font-size: 70px;
    font-family: 'Acme', sans-serif;
    text-align: center;
    padding-top: 5px;
    animation-name: Title;
    animation-duration: 4s;
  }
  @keyframes Title {
    0% {color: white;}
    100% {color: black;}
  }
  </style>
  <body>
    <h1 class='title'>Outlast Enterprise</h1>
    {% block content %}
    {% endblock %}
  </body>
</html>
